.main-contact{
 background-color:  rgb(21, 21, 21);
 color: white;
 width: 100%;
 padding-top: 50px;
}

.contact{
 width: 100%;
 height: 100vh;
 display: flex;
 flex-direction: column;
 justify-content: center;
}

.contact-text{
   border-bottom: 5px solid grey;
   font-size: 48px;
   font-weight: 500;
   display: inline;
}

input{
 border-width: 2px;
 outline: none;
 border-radius: 5px;
 background: transparent;
}

textarea{
border-width: 2px;
outline: none;
border-radius: 5px;
background: transparent;

}

.form{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  width: 60%;
}

.contact-btn{
display: flex;
background-color: rgb(48, 122, 251);
border-radius: 8px;
font-size: 18px;
transition: all 0.3s;
padding: 10px 25px;
}

.contact-btn:hover{
  transform: scale(1.08);
}

