.footer {
  background-color: rgb(8, 8, 8);
  color: white;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.info {
  margin-top: 20px;
}
.myname {
  font-weight: 700;
  margin-left: 5px;
  cursor: pointer;
  font-size: 17px;
}

.icon {
  cursor: pointer;
  font-size: 22px;
  display: flex;
  justify-content: center;
}
