.footer{
  background-color: black;
  color :white;
  height: 12vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.myname{
  font-weight: 700;
  margin-left: 5px;
  cursor: pointer;
  font-size: 17px;
}

.icon{
  cursor: pointer;
  font-size: 22px;
  display: flex;
  justify-content: center;
}