.home {
  background-color: rgb(21, 21, 21);
  color: white;
  width: 100%;
  height: 100vh;
}

.main-btn {
  background-color: rgb(48, 122, 251);
  border-radius: 8px;
  font-size: 18px;
}

.main-btn:hover {
  background-color: rgb(28, 104, 235);
}

.title-txt {
  font-size: 54px;
}

span {
  transition: all, 0.4s;
  font-size: 23px;
}

@media (max-width: 768px) {
  .description {
    text-align: center;
    margin-top: 5rem;
  }

  .pic {
    margin-bottom: 30px;
  }

  .main-btn {
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 500px) {
  .title-txt {
    font-size: 45px;
    margin-bottom: 5px;
  }

  .main-btn {
    margin-top: 10px;
  }

  .my-pic {
    margin-bottom: 35px;
  }

  .my-pic > img {
    height: 350px;
    width: auto;
  }

  .about {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
