.my-name{
  font-size: 45px;
}

.main-nav{
   height: 70px;
   width: 100%;
   display: flex;
   justify-content: space-between;
   padding: 15px;
   align-items: center;
   color:white;
   background-color: rgb(16, 15, 15);
   position: fixed;
}