.port-card{
  box-shadow: 2px 3px 5px rgb(6, 6, 6);
  border-bottom-left-radius: 10px ;
  border-bottom-right-radius: 10px;
}

.port-img {
  border-radius: 5px;
  height: 220px;
  width: 320px;
}

.port-img:hover{
   cursor: pointer;
   transform: scale(1.06);
}

.buttons{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.buttons button{
  font-size: 17px;
  padding: 10px 20px;
  margin: 8px;
}

.buttons button:hover{
  background-color: rgba(38, 38, 38, 0.768);
  border-radius: 10px;
}

@media (max-width:768px){

  .port-img {
         width:100%;
      }                
  } 

  
@media (max-width:640px){

.port-img {
       width:100%;
    }

    .port-card{
        width: 75%;
       margin-left: 3.5rem;
   }                   
} 


@media (max-width:480px){
  
      .port-card{
          width: 100%;
          margin-left: 2px;
     }
                        
  } 