.social{
 top:35%;
 left: 0%;
 position: fixed;
}

.social-li{
   display: flex;
   align-items: center;
   background-color: rgb(105, 103, 103);
   height: 48px;
   width: 155px;
   transition: all 0.3s;
   cursor: pointer;
   margin-left: -100px;
}

.social-li:hover{
  border-bottom-right-radius: 25px;
  border-top-right-radius: 0px;
  margin-left: -10px;
}

.social-link{
  display: flex;
  justify-content: space-between;
  color: white;
  align-items: center;
  font-size: 17px;
}

@media (max-width:1145px){ 
  
.social{
  display: none;
}
                         
 }

@media (min-width:1100px){ 
  
.social{
   display: flex;
 }
   
}