@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Poppins:wght@200;300;500&family=Raleway:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Flex:opsz,wght@8..144,500&family=Ubuntu&family=Water+Brush&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Koulen&family=Poppins:wght@200;300;500&family=Roboto+Flex:opsz,wght@8..144,500&family=Ubuntu&family=Water+Brush&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


html{
      font-family: 'Raleway', sans-serif;           
}
